<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Event</h5>

          <p>
            <strong>ID</strong>: {{event.id}}
          </p>
          <p>
            <strong>Category</strong>: {{event.category}}
          </p>
          <p>
            <strong>Description:</strong> {{event.description}}
          </p>
          <p>
            <strong>Location</strong>: {{event.location}}
          </p>
          <p>
            <strong>Time</strong>: {{event.timeOfEvent}}
          </p>
          <p>
            <strong>Players Needed</strong>: {{event.maxPlayers}}
          </p>

          <p>
            <strong>Registered Players</strong>: {{event.currentPlayers}}
          </p>

          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
