<div id="home">

  <nav class="nav">
    <a id="profile" class="nav-link" href="/">Home</a>
  </nav>

  <div class="container">

    <div class="row">
      <div class="col-4 offset-1">
        <h1>{{msg}}</h1>
        <ul id="event-list" class="list-group">
          {{#each events}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="event/{{this.id}}">{{this.username}}</a>
              <div class="description">
                {{this.description}}
              </div>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>

  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
